.mainBody{
    color:red;
    height:100px;
    width:104%;
   
   
}

body{
    background-image:url('BG2.png');
}

.stickerOptions1{
    opacity:1;
}
.stickerOptions1 a img:hover {
    background:url(homePageLink1b.png);
    position:absolute;
    top:0px;
}